<form [formGroup]="postForm">
    <div class="mb-3">
        <label class="form-label">Title</label>
        <input type="text" class="form-control" placeholder="Enter Title" formControlName="title">
    </div>
    <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea class="form-control" placeholder="Enter Description" formControlName="description"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" (click)="onAdd()" [disabled]="!postForm.valid">Add Post</button>
</form>