<div class="row m-3 justify-content-center">
    <h1 class="text-center">Posts List</h1>
    <div class="col-sm-8">
        <div>
            <button class="btn btn-primary" routerLink="/post/add">Add Post</button>
        </div>
        <table class="table table-hover" *ngIf="posts |async as postData">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let post of postData">
                    <th scope="row">{{post.id}}</th>
                    <td>{{post.title}}</td>
                    <td>{{post.description}}</td>
                    <td><i class="far fa-edit text-warning"></i></td>
                    <td><i class="fas fa-trash-alt text-danger"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-4">
        <router-outlet></router-outlet>
    </div>
</div>